
@using WebApplication1.Interfaces
@model List<WebApplication1.Interfaces.InterfaceGanancias>

    <table>
        <tr>
            <td>Name</td>
            <td>Ganancias</td>
            <td>Impuestos</td>
        </tr>
        @foreach (InterfaceGanancias g in Model) {
            <tr>
                <td>@g.Name</td>
                <td>@g.Ganancias</td>
                <td>@g.Impuestos</td>
            </tr>
        }
        <tr>Recaudacion total: @ViewBag.RecTotal</tr>
    </table>
